
REPRO_NAME=provweek
REPRO_DOCKER_ORG=cirss
REPRO_IMAGE_TAG=latest
REPRO_EXAMPLES=examples
REPRO_CODE=go
REPRO_DOCKER_OPTIONS= -p 4000:4000 

# Define target aliases available both inside and outside a running REPRO
clean: clean-site       ## Delete artifacts from previous builds
build: build-site       ## Build the site.
serve: serve-site       ## Build and serve the site locally.
## 

# Define target aliases available only outside a running REPRO
ifndef IN_RUNNING_REPRO
start: start-image      ## Start a container using this REPRO's Docker image.
image: build-image      ## Build the Docker image used to run this REPRO.
endif
